{{#d-modal-body class="select-topic-modal"}}

<div class="vt-modal-body-left">
  <div class="vt-category">
    <span>
      {{category-link topic.category}}
    </span>
  </div>
  <div class="vt-comments">
    <div class="vt-comments-title">
      {{topic.title}}
    </div>
    <div class="vt-comments-info">
      <div class="vt-users">
        {{avatar topic.creator imageSize="large"}}
        {{#if topic.creator.name}}
          <span class="user-name">{{topic.creator.name}}</span>
        {{else}}
          <span class="user-name">{{topic.creator.username}}</span>
        {{/if}}
      </div>

      <div class="vt-control">
        {{#if topic.is_qa}}
          <ul>
            <li>
              <div class='topic-replies posts-map {{likesHeat}} inline sub' title='{{title}}'>
                <span>{{d-icon "far-comment"}} {{number countComment }}</span>
              </div>
            </li>
            <li>
              {{vt-heart topic=topic liked=liked post=topicDetail}}
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
  {{vt-comments-more topic=topic post=topicDetail}}

  <div class="vt-comments-list-container">
  {{#each lastComments as |com index|}}
    <div class="vt-comments-list load-init" data-id="{{com.id}}">
      <div class="vt-users">
        {{avatar com.user_info
          imageSize="large"
        }}
        <span>{{com.name}}</span>
      </div>
      <div class="vt-comments-item">
        {{dir-span com.raw htmlSafe="true"}}
      </div>
    </div>
  {{/each}}
  </div>
  {{#if topic.is_qa}}
    {{vt-comments-form topic=topic post=topicDetail user=user}}
  {{else}}
    <i style="color: red">Đây không phải là loại câu hỏi, bạn không thể comment.</i>
  {{/if}}
</div>


<div class="vt-modal-body-right">
  <div class="topic-content">
    {{dir-span topicDetail.cooked htmlSafe="true"}}
  </div>

  {{#if topic.answer_content}}
    <div class="topic-reply">
      <div class="reply-user">
        <span>{{topic.answer_user}}</span>
      </div>
      <div class="reply-category">
        <span>TRẢ LỜI</span>
      </div>

      <div class="reply-content">
        <i>
          {{dir-span topic.answer_content htmlSafe="true"}}
        </i>
      </div>
      {{vt-vote-form topic=topic post=topicDetail}}
    </div>
  {{else}}
    <div class="topic-reply">
    </div>
    {{#if topic.is_qa}}
      {{vt-reply-form topic=topic post=topicDetail}}
    {{else}}
      <i style="color: red">Đây không phải là loại câu hỏi, bạn không thể answer.</i>
    {{/if}}
  {{/if}}


</div>
{{/d-modal-body}}
